.sccp{
    background-color: black;
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 200%;
    margin: 0;

}
#menu{
    margin: 0;
    background-color: black;
    text-align: center;
    list-style: none;
}
#menu li {
    display: inline-block
}
#menu li a {
    color: white;
}
h1 {
    font-size: 130%;
}
h2 {
    font-size: xx-large;
    width: 400px;
    margin:auto

}
.titulo{
    
}
li {
    font-size: 120%;
}
p {
    font-size: 120%;
}
#container{
    display: flex;
    align-items:baseline
    
}
#Sobre1{
    width: 100%;
    margin-top: 5px;
}
#Hino1{
    width: 20%;
    margin-top: 5px;
}
#titulos1{
    width: 100%;
    
}
