
.sccp{
    background-color: black;
    color:white;
    padding: 25px;
    text-align: center;
    font-size: 200%;
    margin: 0;
}
#menu{
    margin: 0px;
    text-align:center;
    list-style: none;
    color: black;
}
#menu li {
    display: inline-block
}
#menu li a {
    color: white;
}
h1 {
    font-size: 130%;
}
h2 {
    font-size: xx-large;
    width: 400px;
    margin:auto

}
#titulo{
    
}
li {
    font-size: 120%;
}
p {
    font-size: 120%;
}
#container{
    align-items:end
}
.imagem1{
    float: right;
    margin-left: 3%;
    padding: 5px;
    width: 500px;
    height: 250px;
}
.imagem2{
    float: left;
    width: 800px;
    height: 450px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
#Sobre1{
    width: 20%;
    margin-top: 5px;
    font-size: 120%;
}
#Hino1{
    width: 20%;
    margin-top: 5px;
    font-size: 120%;
}
#titulos1{
    width: 20%;
    margin-top: 5px;
    font-size: 120%;
}
#lista2{
    font-size: 110%;
}
#hino2{
    font-size: 98%;
    
}
#sobre2{
    font-size: 110%;
    width: 75%;
}
