.sccp{
    background-color: black;
    color:white;
    padding: 60px;
    text-align: center;
    font-size: 200%;

}
h1 {
    font-size: 130%;
}
h2 {
    font-size: xx-large;
    width: 400px;
    margin:auto

}
.titulo{
    
}
li {
    font-size: 120%;
}
p {
    font-size: 120%;
}
#container{
    display: flex;
    align-items: center;
    
}
#Sobre1{
    width: 250%;
    margin-top: 30px;
}
#Hino1{
    width: 250%;
    margin-top: 30px;
}
#titulos1{
    width: 250%;
    margin-top: 75px;
}
